<?xml version="1.0" encoding="utf-8"?>
<!--
    Note: Add entries to the App.config file for configuration settings
    that apply only to the Test project.
-->
<configuration>
	<appSettings>
		<add key="CONSUMER_KEY" value="TQUoEVUtkYdckYcPZVNGZsttl" />
		<add key="CONSUMER_SECRET" value="mRgtYGPMvtuHlKJTeqsrVdgSX1jdZ7k1A0okKpyRCrIINIor23" />
		<add key="ACCESS_TOKEN" value="1333773671488491523-CARU9DogBEjwBdjMiwONV4adh4s2B4" />
		<add key="ACCESS_TOKEN_SECRET" value="ojB7scu744K00lt3576hVeY456XWEh7LCJsZdVCJESVt7" />
		<add key="BEARER_TOKEN" value="AAAAAAAAAAAAAAAAAAAAAJkGKQEAAAAA1yq7dyxNpCfEPvBbsMPo1yKSIuA%3DT9UTnAH3GBIq6QmxAl1dLsuShNEIiQpuFr1IKfqha14RZifRe9" />
		<add key="TweetJsonFilePath" value= "App_Data\tweetJson.json" />
		<add key="TweetStatsJsonFilePath" value= "App_Data\tweetStatsJson.json" />
		<add key="EmojiJsonFilePath" value= "App_Data\emoji_pretty.json" />
		<add key="SaveTweetDataToFile" value= "true" />
		<add key="SearchOnlyTextFieldForTotals" value= "true" />

	</appSettings>

	<connectionStrings>

	</connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
